/*
Theme Name: Shopkeeper Child
Theme URI: http://shopkeeper.getbowtied.com/
Description: This is a child theme for Shopkeeper.
Author: Get Bowtied
Author URI: http: //www.getbowtied.com/
Template: shopkeeper
Version: 1.3
*/

@import url("../shopkeeper/style.css");

/****************************************************************/
/*************** ADD YOUR CUSTOM CSS IN THIS AREA ***************/
/****************************************************************/
 .sticky-logo {
	display:none !important;
	max-height:45px !important;
	max-width:auto !important;
}

.page-id-1016 .entry-content a,
.page-id-1011 .entry-content a,
.page-id-7 .entry-content a,
.page-id-8 .entry-content a,
.page-id-9 .entry-content a,
.page-id-1014 .entry-content a {
    color: #676767;
    text-decoration: underline;
}
.main-navigation ul ul {
	top: 93%;
}
.woocommerce-cart .entry-content .woocommerce .cart-collaterals {
    width: 100%;
}

/*.main-navigation a {
	font-family: sans-serif !important;
}*/

@media only screen and (max-width: 1024px) {


	.mobile-hide {
		display: none;
	}
}
.bw-resc .wpb_content_element {
	margin-bottom: 0;
}
.bw-resc p {
	font-size: 14px;
	font-style: italic;
}
.bw-resc-m {
	margin-top: 56px;
}

.bw-resc-bg {
    /*background: #ddd;
    border-radius: 10px;
    padding: 15px 0 !important;*/
    /*position: relative;*/
}
.woocommerce .products ul h3, .woocommerce ul.products h3, .woocommerce-page .products ul h3, .woocommerce-page ul.products h3 {
	font-size: 15px;
}

.product_after_shop_loop .price, .product_after_shop_loop .price ins {
	font-size: 1rem;
}
body.search-results .page-title {
	line-height: normal;
}

@media only screen and (max-width: 768px) {
	#site-footer {
		padding-top: 10px;
	}
	.page-title:after {
		background: #000 !important;
		width: 100px !important;
		height: 3px !important;
		margin: 32px auto !important;
		content: "" !important;
		display: block !important;
	}
	.boxzilla-center-container .boxzilla { 
		margin-top: 0 !important;
	}

}

@media only screen and (max-width: 768px) {




	.bw-resc .wpb_single_image.vc_align_right,
	.bw-resc .wpb_single_image.vc_align_left {
		text-align: center;
	}
	.bw-resc p {
		text-align: center !important;
	}
	.bw-resc-bg {
		position: relative;
	}
	.bw-resc {
		position: absolute;
		top: 0;
		right: 20%;
	}
	.bw-resc:first-child {
		left:20%;
	}
	.bw-resc-m {
		margin-top: 0;
		margin-top: 175px;
		width: 100%;
	}
	.bw-resc-m .wpb_content_element {
		margin-bottom: 10px;
	}
	.bw-resc-bg .vc_empty_space {
		height: 40px !important;
	}
	.section-header.v3 {
		text-align: center;
	}
}

@media only screen and (max-width: 480px) {
	.small-block-grid-2>li {
		width: 100%;
	}
	.bw-resc {
		right: 25%;
	}
	.bw-resc:first-child {
		left:25%;
	}
	.btn .btn-indegogo .btn-lg a {
		padding-top: 0px;
		padding-right: 10px;
		padding-bottom: 0px;
		padding-left: 10px;
	}
}

@media only screen and (max-width: 450px) {
	.home .entry-meta {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 370px) {
	.bw-resc img {
		width: 85%;
	}
	.bw-resc-m {
		margin-top: 155px;
	}
	.woocommerce #content div.product div.product_infos p.price {
		font-size: 1.25em;
	}
	
}

@media only screen and (min-width: 80em) {
	.woocommerce .products ul li,
	.woocommerce ul.products li {
		padding: 0 50px 30px;
	}
}

.woocommerce-cart .order-total .includes_tax span {
    font-size: 14px !important;
}

/* THESE ARE THE TWO MEDIA CALLS THAT CONTROL THE TWO DIFFERENT, SMALLER LOGO STATES AND TOP HEADER HIGHT */

/* THE FIRST IMPORTANT MEDIA CALL */
@media only screen and (min-width: 40.063em) and (max-width: 63.9375em) {
/*THE HEIGHT IN THIS CLASS CONTROLS THE HEIGHT OF THE STICKY HEADER FOR MOBILE */
	    .top-headers-wrapper {
        position: fixed !important;
        width: 100% !important;
        top: 0 !important;
        left: 0 !important;
        height: 100px !important;
        overflow: hidden !important;
        z-index: 999  !important;
    }

	 .sticky-logo {
	display:inline !important;
	max-height:60px !important;
	max-width:auto !important;
    text-align:center !important;
	}

	.site-branding {
		text-align: center !important;
	}

}

/* THE SECOND IMPORTANT MEDIA CALL */
@media only screen and (max-width: 40.063em) {
 /*THE HEIGHT IN THIS CLASS CONTROLS THE HEIGHT OF THE STICKY HEADER FOR MOBILE */
	    .top-headers-wrapper {
        position: fixed !important;
        width: 100% !important;
        top: 0 !important;
        left: 0 !important;
        height: 100px !important;
        overflow: hidden !important;
        z-index: 999  !important;
    }

	.sticky-logo {
	display:inline !important;
	max-height:60px !important;
	max-width:auto !important;
    text-align:center !important;
	}

		.site-branding {
		text-align: center !important;
	}

}
/****************************************************************/
/****************************************************************/
/****************************************************************/

.site-header-wrapper .site-branding img { height: 110px; }

/* Small Screen Navigation Menu */
@media screen and (max-width:768px) {

	.site-header-wrapper {
		position: relative;
		margin-top: 20px;
	}
	.site-header-wrapper .site-branding {
		padding: 0;
		text-align: center;
		height: 50px;
		width: 100%;
		max-width: 150px;
		position: absolute;
    margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 9999;
	}
	.site-header-wrapper .site-branding img {
		max-height: 50px !important;
	}
	.site-header-wrapper .site-branding a {
		position: relative;
	}
	.site-header-wrapper  .site-tools {
		position: relative !important;
		float: none;
		text-align: left;
	}
	.site-header-wrapper .site-tools ul {
		display: block;
	}
	.site-header-wrapper .site-tools .offcanvas-menu-button {
		float: right;
	}
}

/* WOOCOMMERCE */
.button.single_add_to_cart_button { background: #000 !important; }

/* Topbar */
.site-top-message {
    float: right;
    padding: 3px 0px;
    font-size: 1.2em;
}
#site-navigation-top-bar {
    display: none;
}
#site-top-bar {
    height: 35px !important;
}

/* Hero Button */
.bullon-red {
    background-color: #d35d46;
    display: inline-block;
    padding: 8% 15% !important;
    color: #fff;
}
#rev_slider_5_1 .hero-text {
  /*height: auto !important;*/
  /*max-width: 125px !important;*/
}

/*Woocommerce*/
.woocommerce-breadcrumb { display: none; }
.widget .widget-title {
	margin-bottom: 20px;
	font-size: 1.2em !important;
}
.widget .widget-title:after {
	content: '';
	display: block;
	position: absolute;
	width: 45px;
	height: 2px;
	background: #000;
	margin-top: 5px;
}
.widget .menu .sub-menu {
	display: none;
	margin-top: 20px;
	margin-bottom: 20px;
}
.widget .menu li.menu-item {
	margin-bottom: 13px;
}
.widget .menu > li.menu-item {
	border-bottom: solid 1px #cfcfcf;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.widget .menu > li.menu-item:last-child {
	border-bottom: none;
}
.widget .menu > li.menu-item > .sub-menu {
	margin-left: 0;
}
.widget .menu > li.menu-item > .sub-menu a {
	font-size: .85em;
	opacity: .7
}
.widget .menu li.current-menu-item.menu-item > a { opacity: 1 !important; }
.widget .menu li.menu-item.menu-item-has-children > a:after {
	content: "\f107";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    font-size: 1.2em;
    transition: all .25s;
}
.widget .menu li.menu-item.menu-item-has-children.opened > a:after {
	transform: rotate(180deg);
}
.widget .menu li.current-menu-ancestor > .sub-menu,
.widget .menu li.current-menu-item > .sub-menu {
	display: block;
}
.products-grid .product_thumbnail img {
	border: solid 1px #ebebeb ;
}

@media only screen and (min-width: 80em) {
	.woocommerce .products ul li,
	.woocommerce ul.products li {
		padding: 0 8px 30px;
	}
}

/* Update 1.1 */
@media screen and (min-width:768px) {

  .main-navigation > ul {
  	min-width: 70%;
  	display: inline-block;
  	text-align: center;
  }
  .main-navigation>ul>li.menu-item-has-children {
    padding-right: 2px;
    margin-right: 30px
  }
  .footer-navigation-wrapper ul li:after {
    content: none;
  }
  .footer-navigation-wrapper {
    border-bottom: solid 1px #cccccc;
    margin-bottom: 35px;
  }
  #site-footer .copyright_text a {
    border-bottom: none;
  }
  .content-area { padding-top: 45px; }
  #site-footer { padding-top: 30px; }
}

@media only screen and (max-width: 40.063em) {
    .content-area {
        padding: 60px 0 0 0;
    }
}
.cart_totals .order-total small { font-size: .85em; }

